.bg {
	background-image: url('./../../../public/image/ban/bg.png');

	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	background-color: rgba(255, 255, 255, 0.499);
}

.banner {
	background-color: #8bb26f8a;
}

@font-face {
	font-family: 'Acari Sans';
	font-display: swap;
	src: url('./../../../public/fonts/AcariSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Acari Sans Medium';
	font-display: swap;
	src: url('./../../../public/fonts/AcariSans-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.acariBold {
	font-family: 'Acari Sans Bold', sans-serif;
}

.acariMedium {
	font-family: 'Acari Sans Medium', sans-serif;
}

.formBg {
	background-image: url('./../../../public/image/ban/form.webp');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.services_wrapper:first-of-type {
	border-top: 1px solid black;
	/* border-bottom: 1px solid black; */
}
.services_wrapper:nth-of-type(2),
.services_wrapper:nth-of-type(3),
.services_wrapper:nth-of-type(6) {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.services_wrapper:nth-of-type(5) {
	border-bottom: 1px solid black;
}

@media (max-width: 767px) {
	.services_wrapper:nth-of-type(2),
	.services_wrapper:nth-of-type(4),
	.services_wrapper:nth-of-type(6),
	.services_wrapper:nth-of-type(10),
	.services_wrapper:nth-of-type(12),
	.services_wrapper:nth-of-type(14),
	.services_wrapper:nth-of-type(8) {
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}

.photoBg {
	background-color: rgba(0, 0, 0, 0.434);
}
