.conceptList{
   list-style-image: url('image/housing/bullet/brown.png');
}

.communityBg{
   background-image: url('image/housing/communityImg.webp');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
}


.header {
   background-color: rgba(0, 0, 0, 0.424);
}